**Import Data**

In [ ]:
pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.1.5)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.1)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.19.5)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [ ]:
import pandas as pd

In [ ]:
from google.colab import drive
drive.mount('/drive')

Mounted at /drive

Stock Information (Ticker, Company Name, Industry, Address, Link)

In [ ]:
StockInfo = pd.read_excel('/drive/My Drive/StockInfo.xlsx')

In [ ]:
print(StockInfo)

      Unnamed: 0  ...            Unnamed: 13
0            NaN  ...                    NaN
1            NaN  ...                    NaN
2            NaN  ...                    NaN
3            NaN  ...                   公司网站
4            NaN  ...        bank.pingan.com
...          ...  ...                    ...
6934         NaN  ...         www.remegen.cn
6935         NaN  ...  www.peijiamedical.com
6936         NaN  ...  www.kangjimedical.com
6937         NaN  ...    www.kwanyong.com.sg
6938         NaN  ...         ir.netease.com

[6939 rows x 14 columns]

In [ ]:
StockInfo = list(StockInfo)
print(StockInfo)

['Unnamed: 0', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13']

Master Raw Data

In [ ]:
MasterRawData = pd.read_excel('/drive/My Drive/MasterRawData.xlsx')

In [ ]:
print(MasterRawData)

      Unnamed: 0  ...                                        Unnamed: 41
0            NaN  ...                                                NaN
1            NaN  ...                                                NaN
2            NaN  ...                                                NaN
3            NaN  ...                                                NaN
4            NaN  ...                                                NaN
...          ...  ...                                                ...
8549         NaN  ...                                                NaN
8550         NaN  ...  US - Gemini Investments (Holdings) Ltd of Hong...
8551         NaN  ...  TAIWAN - An investor group, comprised of Wang ...
8552         NaN  ...  TAIWAN - An investor group, comprised of Qihan...
8553         NaN  ...  UK - Ganfeng Lithium Co Ltd of China agreed to...

[8554 rows x 42 columns]

January M&A Deals Transactions

English

In [ ]:
MA_en = pd.read_excel( '/drive/My Drive/MAEn.xlsx')

In [ ]:
print(MA_en)

                 Unnamed: 0  ...                   Unnamed: 36
0                Short Name  ...  Type of the Service Provider
1                    BUS ME  ...                           NaN
2        Boke Biotechnology  ...                           NaN
3           Ronghai Network  ...              Investment bank
4                  Afalight  ...              Investment bank
...                     ...  ...                           ...
1313              Dilusense  ...                           NaN
1314           Unisemipower  ...                           NaN
1315  Mingyang New Material  ...                           NaN
1316        Zebra Too Angry  ...                           NaN
1317     Faroad Intelligent  ...                           NaN

[1318 rows x 37 columns]

In [ ]:
pip install xlrd

Requirement already satisfied: xlrd in /usr/local/lib/python3.7/dist-packages (1.1.0)

In [ ]:
print(MA_en)

['Unnamed: 0', 'Unnamed: 1', 'Type：All Deals\r\nExporting Date：2021/06/28 14:27:10', 'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16', 'Unnamed: 17', 'Unnamed: 18', 'Unnamed: 19', 'Unnamed: 20', 'Unnamed: 21', 'Unnamed: 22', 'Unnamed: 23', 'Unnamed: 24', 'Unnamed: 25', 'Unnamed: 26', 'Unnamed: 27', 'Unnamed: 28', 'Unnamed: 29', 'Unnamed: 30', 'Unnamed: 31', 'Unnamed: 32', 'Unnamed: 33', 'Unnamed: 34', 'Unnamed: 35', 'Unnamed: 36']

In [ ]:
def get_dic_from_file(MA_en):
  with open(MA_en, 'r') as fd:
    raw_data = fd.readliness()
  headline = raw_data[0].strip().split(',')
  data = [it.stip().split(",") for it in raw_data[1:]]

  keys = [it[0] for it in data]
  sub_keys = headline[1:]

  dic = dict(zip(keys,[{} for i in range(len(keys))]))
  for line in data():
    key = line[0]
  if dic[key] != {}:
    print("Error:repeated values", key, dic[key])
  else:
    value = dict(zip(sub_keys, [int(it) for it in line[1:]]))
    dic[key] = value

  import os, json
  out_path = os.path.splitext(MA_en)[0] + ".json"
  with open(out_path, 'w') as fd:
    json.dump(dic, fd)

In [ ]:
print(MA_en)

['Unnamed: 0', 'Unnamed: 1', 'Type：All Deals\r\nExporting Date：2021/06/28 14:27:10', 'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16', 'Unnamed: 17', 'Unnamed: 18', 'Unnamed: 19', 'Unnamed: 20', 'Unnamed: 21', 'Unnamed: 22', 'Unnamed: 23', 'Unnamed: 24', 'Unnamed: 25', 'Unnamed: 26', 'Unnamed: 27', 'Unnamed: 28', 'Unnamed: 29', 'Unnamed: 30', 'Unnamed: 31', 'Unnamed: 32', 'Unnamed: 33', 'Unnamed: 34', 'Unnamed: 35', 'Unnamed: 36']

Mardrain

In [ ]:
MA_ch = pd.read_excel('/drive/My Drive/MACh.xlsx')

In [ ]:
print(MA_ch)

     Unnamed: 0      Unnamed: 1  ... Unnamed: 58 Unnamed: 59
0          企业简称            企业全称  ...        中介名称        中介类型
1           百十米  合肥百十米互联网科技有限公司  ...         NaN         NaN
2          伯科生物      伯科生物科技有限公司  ...         NaN         NaN
3          融海网络    浙江融海网络科技有限公司  ...        鼎麟资本          投行
4         埃尔法光电  深圳市埃尔法光电科技有限公司  ...        华峰资本          投行
...         ...             ...  ...         ...         ...
1313       的卢深视    北京的卢深视科技有限公司  ...         NaN         NaN
1314       芯合电子    芯合电子（上海）有限公司  ...         NaN         NaN
1315      明扬新材料   江西明扬新材料科技有限公司  ...         NaN         NaN
1316       生气斑马    深圳启月电子商务有限公司  ...         NaN         NaN
1317       路远智能   深圳市路远智能装备有限公司  ...         NaN         NaN

[1318 rows x 60 columns]

**Import API**

In [ ]:
pip install requests

Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (2.23.0)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests) (2021.5.30)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests) (2.10)

In [ ]:
import requests

In [ ]:
response = requests.get("http://webapi.cninfo.com.cn/api/stock/p_stock2254")
print(response.status_code)

200